html, body {
    background-color: #505050;
    min-height: 100%;
}

header {
    margin: 16px auto;
    max-width: 1420px;
    position: relative;
}

#loupe {
    max-height: 300px;
    right: 29px;
    bottom: -28px;
    position: absolute;
}

#wall {
    background-image: url("resources/brick.jpg");
    width: 120px;
    height: 70px;
}

#img_reload {
    width: 20px;
    height: 20px;
    margin-right: 9px;
}

#img_close {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 2px;
}

#img_eye {
    margin: -5px 0 1px -5px;
    border: 5px solid red;
    border-radius: 5px;
}

#funny_block {
    height: 170px;
    width: 520px;
    padding: 10px;
}

.round {
    border-radius: 10px;
    background-color: #909090;
}


.shadow {
    box-shadow: 9px 9px 15px black;
}
.container {
    margin: 0 10%;
}

.site_name {
    padding: 5px;
    margin: 0 -5px;
}

.content {
    margin: 20px auto 0 auto;
    width: 1420px;
    text-align: center;
}

.left_panel {
    width: 140px;
    height: 425px;
    padding: 10px;
}

.right_panel {
    width: 140px;
    height: 425px;
    padding: 10px;
}

.central_panel
{
    display: inline-block;
    margin: 0 30px;
    padding: 10px;
    height: 582px;
    width: 1020px;
}

.left_panel img {
    width: 70px;
    height: 70px;
}
.site_name img{
    max-height: 110px;
    display: inline-block;
    margin: 5px 0 8px 10px;
}

.right_panel img {
    width: 70px;
    height: 70px;
}

.left {
    float: left;
}

.right {
    float: right;
}


.strange_form {
    width: 500px;
    height: 150px;
    top: 650px;
    position: absolute;
    padding: 10px;
    font: 16px arial, serif;
    background-color: #88ff89;
}

.text_field{
    width: 376px;
    height: 15px;
    margin: 0 0 0 2px;
    border: 2px solid #9d969d;

}

.btn_submit {
    height: 22px;
    margin: 0 0 0 4px;
    font-size: 12px;
    letter-spacing: 1px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4eff3), to(#dcdcdc));
    border: 1px solid #a8a4a5;
    border-radius: 1px;
}