html, body {
    background-color: #505050;
    min-height: 100%;
}

header {
    margin: 16px auto;
    max-width: 1420px;
    position: relative;
}

#loupe {
    max-height: 300px;
    right: 29px;
    bottom: -28px;
    position: absolute;
}

#wall {
    background-image: url("resources/brick.jpg");
    width: 120px;
    height: 70px;
}

#img_reload {
    width: 20px;
    height: 20px;
    margin-right: 9px;
}

#img_close {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 2px;
}

#funny_block {
    height: 170px;
    width: 520px;
    padding: 10px;
}

.round {
    border-radius: 10px;
    background-color: #909090;
}


.shadow {
    box-shadow: 9px 9px 15px black;
}
.container {
    margin: 0 10%;
}

.site_name {
    padding: 5px;
    margin: 0 -5px;
}

.content {
    margin: 20px auto 0 auto;
    width: 1365px;
    text-align: center;
}

.left_panel {
    width: 140px;
    height: 425px;
    padding: 10px;
}

.right_panel {
    width: 140px;
    height: 425px;
    padding: 10px;
}

.central_panel
{
    display: inline-block;
    margin: 0 30px;
    padding: 10px;
    height: 582px;
    width: 1020px;
}

.left_panel img {
    width: 60px;
    height: 60px;
}
.site_name img{
    max-height: 110px;
    display: inline-block;
    margin: 5px 0 8px 10px;
}

.right_panel img {
    width: 60px;
    height: 60px;
}

.left {
    float: left;
}

.right {
    float: right;
}

