 html, body, .container {
     min-height: 100%;
     text-align: center;
 }

body {
    background: linear-gradient(#f0f0f0, #a9a9a9);
}

td {
    width: 3vw;
    padding: 0.3vw;
}

table {
    margin: 8vw auto 0 auto;
    z-index: 2;
}

table h2 {
    margin: 0;
    text-align: center;
    font-size: 1.5vw;
}

.container {
    height: 100%;
}

.element {
    border: 1px solid black;
}

.el_number {
    text-align: left;
    font-size: 1vw;
    margin: 0;
}

.el_weight {
    text-align: right;
    font-size: 0.8vw;
    margin: 0;
}

.purple {
    background-color: #AB91FF;
}

.lightorange {
    background-color: #FFC591;
}

.creambrulee {
    background-color: #FFDF91;
}

.jonquil {
    background-color: #ECFF91;
}

.reef {
    background-color: #D2FF91;
}

.lightgreen {
    background-color: #B8FF91;
}

.witchhaze {
    background-color: #FFF991;
}

.mintgreen {
    background-color: #92FF9F;
}

.heliotrope {
    background-color: #F991FF;
}

.anakiwa {
    background-color: #91DFFF;
}

.silver {
    background-color: #C8C8C8;
}

.container img {
    width: 20vw;
    position: absolute;
    margin: 0 auto;
    left: 39%;
    display: block;
}
