html, body {
    width: 100%;
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #2B2B2B;
    border-radius: 10px;
}

li {
    float: left;
    height: 50px;
}

li  a {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    padding: 9px 10px;
    display: block;
    color: #f0f0f0;
    height: 32px;

}

li a i {
    font-style: normal;
    padding: 0 5px;
}

li a:hover {
    background-color: #505050;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.dropdown ul li {
    display: inline-block;
    position: relative;
}

.dropdown {
    margin-top: 50px;
    height: 50px;
   text-align: center

}

.dropdown li:hover .sub_menu {
    display: block;
    z-index: -1;
    transition-delay:2s;

}

.sub_menu {
    margin-top: -10px;
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    border-radius: 0;
    min-width: 120px;
    width: 100%;
}

.sub_menu li {
    display: block;
    width: 100%;
}

.sub_menu li a {
    display: block;
}

